build_dir
README.html
*.o
developer_designs/cl_BSV_WindSoC/verif/sim/vivado/test_dram_dma_hwsw_cosim_c/
developer_designs/cl_BSV_WindSoC/build/checkpoints/
developer_designs/cl_BSV_WindSoC/build/constraints/cl_clocks_aws.xdc
developer_designs/cl_BSV_WindSoC/build/reports/
developer_designs/cl_BSV_WindSoC/build/scripts/.Xil/
developer_designs/cl_BSV_WindSoC/build/scripts/*.nohup.out
developer_designs/cl_BSV_WindSoC/build/scripts/*.vivado.log
developer_designs/cl_BSV_WindSoC/build/scripts/hd_visual/
developer_designs/cl_BSV_WindSoC/build/scripts/last_log
developer_designs/cl_BSV_WindSoC/build/scripts/tight_setup_hold_pins.txt
developer_designs/cl_BSV_WindSoC/software/runtime/test_dram_dma
developer_designs/cl_BSV_WindSoC/software/runtime/test_dram_dma_hwsw_cosim
developer_designs/cl_BSV_WindSoC/software/runtime/test_dram_dma_retention
exe_*
log*.txt
Verilog_RTL
Verilator_RTL
Verilator_Make
*.memhex512
*.memhex32
worker_*
Logs
trace_out.dat
